/*
 * Default stylesheet for hinawa
 * These rules will be applied to elements when when no other rules apply
 */

/* block elements */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul {
	display: block;
}

/* inline elements */
a,
b,
code,
i,
span {
	display: inline;
}

/* inline-block elements */
img {
	display: inline-block;
}

/* list-item elements */
li {
	display: list-item;
	padding: 8px;
}

/* visual-less elements */
br {
	display: inline;
}

body {
	color: black;
	font-size: 16px;
	margin: 8px;
}

h1 {
	font-size: 32px;
	margin-bottom: 16px;
}

a {
	color: blue;
	text-decoration: underline;
}

pre {
	white-space: pre;
}
