/*
 * Default stylesheet for hinawa
 * These rules will be applied to elements when when no other rules apply
 */

/* block elements */
body,
div,
header,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
p,
pre,
ul {
	display: block;
}

/* inline elements */
a,
b,
code,
i,
span {
	display: inline;
}

/* inline-block elements */
img,
canvas {
	display: inline-block;
}

/* list-item elements */
li {
	display: list-item;
	padding-left: 16px;
}

/* visual-less elements */
br {
	display: inline;
}

body {
	color: black;
	font-size: 16px;
	margin: 8px;
}

h1 {
	font-size: 32px;
	margin-bottom: 16px;
}

a {
	color: blue;
	text-decoration: underline;
}

pre {
	white-space: pre;
}

/* https://www.w3schools.com/TAGS/tag_dl.asp */
dl {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

/* https://www.w3schools.com/TAGS/tag_dt.asp */
dt {
	display: block;
}

/* https://www.w3schools.com/TAGS/tag_dd.asp */
dd {
	display: block;
	margin-left: 40px;
}
